<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">

  <!-- This code describes the actual extension and sets some top level inforation -->
  <Extension code="SanbornViewer" name="Sanborn Index Item Viewer" version="1.0" >

    <!-- Administrative information about this plugin -->
    <AdminInfo>
      <Description>This plug-in adds a new item viewer which shows the GIF index file and the HTML map for selecting a single page from a Sanborn map set. </Description>
      <Authors>
        <Author name="Sullivan, Mark" email="Mark.V.Sullivan@sobekdigital.com" />
      </Authors>
      <Permissions>Plug-in is released as open-source under the GNU General Public License</Permissions>
    </AdminInfo>

    <!-- Reference one of more assemblies (referenced relative to the plugin folder) -->
    <Assembly id="SanbornViewerDll" name="sanborn-item-viewer-plugin.dll" />
  </Extension>
  
  <WriterViewers ClearAll="false">                                           -->
    <SpecialWriters>
	    <ItemWriterConfig>
        <ItemViewers>
          <ItemViewer type="SANBORN" viewerCode="sanborn" assembly="SanbornViewerDll" class="SanbornViewer.Sanborn_ItemViewer_Prototyper" enabled="true" />
        </ItemViewers>
      </ItemWriterConfig>
    </SpecialWriters>      
  </WriterViewers>
  
</SobekCM_Config>